@font-face 
{
    font-family: Spacemono;
    src: url('../resources/fonts/SPACEMONO-REGULAR.TTF');
}

body
{
    background-color: rgb(253, 253, 237);
    color: black;
    margin: 0px;
    font-family: "Spacemono";

    height: 100vh;
    width: 100vw;
}

#parent-container
{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr 1fr;

    height: 100%;
    width: 100%;
}

#cat-container
{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#game-title
{
    grid-column: 2 / 3;
    grid-column: 2 / 3;

    font-size: 2rem;
    margin-left: 30%;
}

#response-button
{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    
    height: 60%;
    width: 100%;

    margin-top: 50px;

    font-size: 1.5rem;
    border: 10px solid rgb(196, 196, 254);
    background-color: white;
}

#response-button:hover
{
    border: 10px solid rgb(184, 184, 231);
    background-color: rgb(232, 232, 232);
}

#back:hover
{
    color: rgb(196, 196, 254);
}