@font-face 
{
    font-family: Spacemono;
    src: url('../resources/fonts/SPACEMONO-REGULAR.TTF');
}

body
{
    background-color: rgb(253, 253, 237);
    color: black;
    margin: 0px;
    font-family: "Spacemono";

    height: 100vh;
    width: 100vw;
}

#parent-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;

    height: 100%;
    width: 100%;
}

#title-container
{
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
}

#counter-container
{
    grid-row: 3 / 4;
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
}

#count
{
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    font-size: 20rem;
}

#back:hover
{
    color: rgb(196, 196, 254);
}

#title
{
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    font-size: 2rem;
}